
body {
  margin: 0;
  font-display: optional;
  background-color: #292d2e;
}

body * {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer{
  background-color:transparent;
}


.showcase .md-code-block {line-height: 1.5em;font-size: 13px;}

.md-code-block code {font-family: Source Code Pro, menlo, monospace;}

.md-block h3 {
  font-family: Josefin Sans, Arial, sans-serif;
  font-size:24px;
  font-weight:300;
}

.md-block.content .md-p {
  line-height:1.6em;
  margin: 16px 0;
}

.md-block.content li {
  list-style: none;
  margin-left: 16px;
  line-height: 2em;
}

.md-block.content a {
  text-decoration: none;
  color: hsl(240,90%,70%);
  font-family: Josefin sans, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
}
